@import "../../constants/colors";

.home-view {
  flex: 1;
  display: flex;
  align-items: center;

  &_title {
    text-align: center;
  }

  &_github {
    font-size: 2rem;

    * {
      margin-right: .5rem;
    }
  }

  a {
    margin: 1rem;
    display: inline-block;
  }

  &_play {
    margin-top: 2rem;
    display: inline-block;
    font-size: 3rem;
    color: $color-play !important;
    border-radius: .5rem;
    padding: .5rem 2rem;
    background: rgba(0, 0, 0, .8);
    border: 1px solid black;

    &:hover, &:focus {
      background: rgba(0, 0, 0, .95);
    }

    > * {
      margin-right: 1rem;
      display: inline-block;
    }
  }
}
