@import "../../constants/colors";

.album {
  vertical-align: top;
  cursor: pointer;

  &_name {
    color: white;
  }

  &--selected {
    .album_name {
      color: $color-play !important;
    }
  }

  a {
    display: block;
    width: 100%;
    height: 100%;
  }

  /* Mobile */
  @media screen and (max-width: 997px) {
    $padding-right: .75rem;
    $margin-right: 3rem;
    position: relative;

    a {
      display: flex;
      align-items: center;
      width: 100%;
      background: rgba(0, 0, 0, .25);
      text-align: left;
      border-radius: .1rem;
      height: 5.5rem;
      padding: .75rem;
      padding-right: $padding-right + $margin-right;

      .album-cover {
        width: auto;
        height: 4rem;
        margin-right: 2rem;
      }
    }

    .player-control {
      position: absolute;
      right: $padding-right;
      top: 50%;
      transform: translate(0, -50%);
    }
  }

  /* Desktop */
  @media screen and (min-width: 998px) {
    display: inline-block;
    max-width: 20rem;
    text-align: center;
    position: relative;

    $name-height: 4rem;
    $name-margin: .5rem;

    &_name {
      margin-top: $name-margin;
      height: $name-height;
    }

    .album-cover {
      width: 100%;
    }

    a {
      &:before {
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: $name-height + $name-margin;
        background: rgba(0, 0, 0, .5);
        opacity: 0;
        transition: all .25s linear;
      }
    }

    &:hover {
      a:before {
        opacity: 1;
      }
    }

    &:not(:hover) {
      .player-control:not(.player-control--selected) {
        opacity: 0;
      }
    }

    .player-control {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: rgba(0, 0, 0, .65);
      margin-top: -($name-height + $name-margin) / 2;
      border-radius: 100%;
      text-align: center;
      border: 1px solid rgba(0, 0, 0, .8);
      padding-left: .25rem;
      padding-top: .35rem;
      width: 5rem;
      height: 5rem;
      transition: all .25s linear;

      &:hover {
        background: rgba(0, 0, 0, .9);
      }

      * {
        font-size: 2rem;
      }

      .loader {
        margin-top: -.25rem;
      }
    }
  }
}
