.album-list {
  /* Mobile */
  @media screen and (max-width: 997px) {
    .album {
      &:not(:first-child) {
        margin-top: .65rem;
      }
    }
  }

  /* Desktop */
  @media screen and (min-width: 998px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .album {
      margin: 1rem;
    }
  }
}
