.player {
  &_content {
    background: rgba(0, 0, 0, .95);
    border-top: 1px solid rgba(0, 0, 0, 1);
    padding: .75rem;
    position: fixed;
    height: 5.25rem;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }

  &_grid {
    position: relative;
  }

  .player-description {
    margin-right: 4rem;
    overflow: hidden;
    white-space: nowrap;
  }

  .player-control {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
  }
}