.player-disc {
  position: relative;
  width: 4rem;
  float: left;
  margin-right: 1rem;

  &_vinyl {
  }

  &_album {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 30%;
  }
}
