@import "../../constants/sizes";

.header {
  padding: 2rem 1rem;
  height: $header-height;
  z-index: 1;

  .container {
    position: relative;
  }

  &_logo {
    display: inline-block;
  }

  &_github {
    font-size: 1.75rem;
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);

    * {
      margin-right: .5rem;
    }
  }
}
